body {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
  }
  
.parallax_wrapper {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100vw;
	perspective: 300px;
  
	.parallax_group {
	
	  position: relative;
	  height: 80vh;
	  transform-style: preserve-3d;
  
	  .parallax_layer {
		position: absolute;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		
	  }
  
	  .base_layer {
		transform: translateZ(-300px) scale(2);
		color: black;
		z-index: -1;
	  }
	}
  }

.img {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	width: 100%;
}

.img_message {
	position: absolute;
}

img {
	width: 100%;
	padding: 2%;
	border-radius: 5%;
}
.img1 {
	margin-bottom: 30vh;
	color: rgb(142, 115, 202);
	
}

.img2 {
	margin-top: 30vh;
	color: rgb(220, 136, 123);
}